<h3>Ajout d'un produit</h3>
<form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <div>
        <label> Référence du produit </label>
        <input type="number" name="reference" [ngClass]="{' form-control':true}" [(ngModel)]="produit.reference">
    </div>
    <div>
        <label>Libellé</label>
        <input type="text" name="lib" [ngClass]="{' form-control':true}" [(ngModel)]="produit.libelle">
    </div>

    <div>
        <label> Made In </label>
        <label>
            <input type="radio" name="madeIn" value="Tunisie" [(ngModel)]="produit.madeIn">Tunisie
        </label>
        <label>
            <input type="radio" name="madeIn" value="Autre" [(ngModel)]="produit.madeIn">Autre
        </label>
    </div>
    <div>
        <label>Catégorie</label>
        <select name="categ" [ngClass]="{' form-select':true}" [(ngModel)]="produit.categorie">
            <option *ngFor="let c of lesCategories" [value]="c">
                 {{c}}
            </option>
        </select>
    </div>
    <div>
        <label>
            <input type="checkbox" name="nouv" [(ngModel)]="produit.nouveau"> Nouveau
        </label>
    </div>

    <input type="submit" value="Ajouter">
    <input type="button" value="Vider" (click)="onReset(f)">

</form>
<div [hidden]="!f.submitted">
    {{message}}
</div>