<h3>Ajout d'un produit</h3>
<form>
    <div>
        <label> Référence du produit </label>
        <input type="number" name="reference">
    </div>
    <div>
        <label>Libellé</label>
        <input type="text" name="lib">
    </div>

    <div>
        <label> Made In </label>
        <label>
            <input type="radio" name="madeIn" value="Tunisie">Tunisie
        </label>
        <label>
            <input type="radio" name="madeIn" value="Autre">Autre
        </label>
    </div>
    <div>
        <label>Catégorie</label>
        <select name="categ">
        </select>
    </div>
    <div>
        <label>
            <input type="checkbox" name="nouv"> Nouveau
        </label>
    </div>

    <input type="submit" value="Ajouter">
    <input type="button" value="Vider">

</form>